.footerBg{
    background-color: #000000a1;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    padding: 16px 0px;
}
.footerBg .container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.footerLogo img{
    width: 100%;
    max-width: 260px;
}
.socialWrapper{
    display: flex;
    align-items: center;
    list-style: none;
}
.socialWrapper li {
    margin: 0 16px;
}
.socialWrapper li a:hover{
    opacity: 0.5;
    transition: 0.3s;
}

@media (max-width:550px){
.footerBg .container{
    flex-direction: column;
}
.socialWrapper{
    margin-top: 18px;
}
}