.footerBg{
    background-color: #000000;
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
    padding: 16px 0px;
}
.footerBg .container{
    max-width: 1300px;
    margin: 0 auto;
    padding: 0px 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer{
    display: flex;
    justify-content: center;
}
.footerLogo {
    width: 70px;
    color: white;
    margin-top: 10px;
}

.footerLogoText {
    font-size: 30px;
    font-weight: 400;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 10px;
}
.socialWrapper{
    display: flex;
    align-items: center;
    list-style: none;
}
.socialWrapper li {
    margin: 0 16px;
}
.socialWrapper li a:hover{
    opacity: 0.5;
    transition: 0.3s;
}

@media (max-width:550px){
.footerBg .container{
    flex-direction: column;
}
.socialWrapper{
    margin-top: 18px;
}
.footerLogo {
    width: 60px;
    color: white;
    margin-top: 10px;
}

.footerLogoText {
    font-size: 25px;
    font-weight: 300;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
  
}
}