@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
  font-family: Graphit;
  src: url(/fonts/Graphit-Regular.otf),
   url(/fonts/Graphit-Medium.otf),
   url(/fonts/Graphit-Light.otf), 
   url(/fonts/Graphit-Black.otf),
   url(/fonts/Graphit-Bold.otf),
   url(/fonts/Graphit-Thin.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
body{
  background-color: #000104;
}
a {
  text-decoration: none;
}

