.heroContainer{
  background: url(../static/home-hero-bg.png);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}
.heroContentWrap{
  color: #fff;
  font-family: 'Graphit';
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  padding-top: 70px;
}
.heroContentWrap h1{
  font-size: 100px;
  text-transform: uppercase;
  letter-spacing: 24px;
}
.heroBtn{
  margin-top: 24px;
}
.heroBtn button{
  outline: none;
  border: none;
  background-color: #03121D;
  font-family: 'Graphit';
  font-size: 18px;
  color: #ffffff;
  text-transform: uppercase;
  padding: 14px 26px;
  border-radius: 28px;
  letter-spacing: 7px;
  font-weight: 300;
  cursor: pointer;
  transition: 0.3s;
}
.heroBtn button:hover{
   background-color: #051f30;
   transition: 0.3s;
}
.blackGradientBottom2{
    z-index: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(to bottom, transparent 50%, #000 100%); */
}
.navigationsWrap{
  position: fixed;
  right: 32px;
  top: 20%;
  z-index: 999;
}
.navigationsWrap ul{
  list-style: none;
}
.navigationsWrap ul li a{
  display: block;
  height: 15px;
  width: 15px;
  border: 1px solid #02CAE5;
  margin-bottom: 12px;
  transition: 0.3s;
}
.navigationsWrap ul li a.active{
  background-color: #02CAE5;
}

.navigationsWrap ul li a:hover{
  background-color: #02CAE5;
  transition: 0.3s;
  cursor: pointer;
}

/* feature Content Area */
.featureContentWrap{
  color: #fff;
  font-family: 'Graphit';
  max-width: 1300px;
  margin: 0px auto 0px auto;
  position: relative;

}
.ContentWrap{
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  padding-top: 50px;
}
.contentBody {
  max-width: 880px;
  margin: 0px auto 100px auto;
}
.contentBody p{
  margin-bottom: 24px;
  font-size: 17px;
  font-weight: 300;
}
.contentBody h3{
  font-size: 22px;
  font-weight: 300;
  margin-bottom: 16px;
  letter-spacing: 1px;
}

/* Heading Section*/
.secHeadingCon{
  color: #fff;
  font-family: 'Graphit';
}
.secHeadingWrap{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 520px;
  margin-bottom: 20px;
}
.secHeadingWrap h3{
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0px 12px;
}
.secHeadImgL, .secHeadImgR{
  width: 100%;
  max-width: 150px;
}
.secHeadingCon{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.secHeadingCon h1{
  font-size: 65px;
  text-align: center;
    font-size: 65px;
    letter-spacing: 12px;
    text-align: center;
    text-transform: uppercase;
}
.roadmapSecHead .secHeadImgL,
.roadmapSecHead .secHeadImgR{
  width: 100%;
  max-width: 100px;
}
/* Partnars */
.partCompGrid{
  max-width: 1330px;
  margin: 70px auto 0px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.PartCompWrap {
  flex-basis: 23%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 24px;
  margin-bottom: 50px;
}

/* Roadmap */
.roadmapCon{
  max-width: 1200px;
  margin: 100px auto 100px auto;
    color: #fff;
  font-family: 'Graphit';
}
.roadmapWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ContL{
  flex-basis: 50%;
}
.ContL h1{
  font-weight: 300;
  text-align: center;
  letter-spacing: 5px;
}
.ContL .purpletxt{
  color: #CB17C3;
}
.ContL .BgWrap{
  position: relative;
}
.ContL .roadmapTxt{
  position: absolute;
  top: 43%;
  left: 49%;
  width: 100%;
  max-width: 370px;
  transform: translate(-43%, -49%);
}
.ContL .roadmapTxt h3{
  color: #02CAE5;
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 22px;
}
.ContR{
  flex-basis: 50%;
  position: relative;
}
.roadlineImg{
  padding-top: 150px;
  max-width: 330px;
}
.roadlineBlue{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.alignLine{
  width: 100%;
  max-width: 330px;
  padding-top: 150px;
}
.linehide{
  opacity: 0;
  transform: scale(0);
}


/* Home Page Background */
.HomePageBg{
  background: url(../static/Homebackground.png);
  background-size: 100% 70%;
  background-position: top;
  background-repeat: no-repeat;
  padding-top: 400px;
  margin-top: -200px;
}
.FooterAreaContain{
  background: url(../static/footer-bg-new.png);
  height: 100vh;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
}
.FooterAreaContain footer{
  width: 100%;
}
.hideBorder{
  background-color: #000000;
  height: 10px;
  width: 100%;
  height: 7%;
  background: linear-gradient(to top, transparent 0%, rgba(0, 0, 0, 0.849) 100%);
}


/* Media Queries */

@media (max-width:1080px){
  .heroContentWrap h1{
    font-size: 70px;
    letter-spacing: 16px;
  }
  .featureContentWrap{
    background: url(../static/feature-content-bg-new.png);
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100% 112%;
    position: relative;
    border-radius: 8px;
    margin: 0 12px;
    top: 0;
  }
  .ContentWrap{
    padding-top: 32px !important;
    position: relative;
    top: 0;
  }
  /* Feature Section */
  .featureImg{
    display: none;
  }
  .contentBody {
    padding: 16px 32px;
    margin: 0px auto 0px auto;
  }
}

@media (max-width:880px){
  .heroContentWrap h1{
    font-size: 70px;
    letter-spacing: 10px;
  }
  .heroContainer{
  background: url(../static/home-hero-bg.png);
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}
.heroContentWrap{
  color: #fff;
  font-family: 'Graphit';
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50vh;
  flex-direction: column;
  padding-top: 0px;
}
.contentBody {
  max-width: 880px;
  margin: 0px auto 0px auto;
}
  /* Section heading*/
  .secHeadingCon h1{
    font-size: 40px;
    letter-spacing: 7px;
  }
  /*Roadmap Section*/
  .ContR{
    display: none;
  }
  .ContL{
    flex-basis: 100%;
  }
}

@media (max-width:580px){
  .heroContentWrap h1{
    font-size: 50px;
    letter-spacing: 10px;
  }
  .secHeadingWrap{
    padding: 0px 12px;
  }
  .partCompGrid{
    max-width: 1330px;
    margin: 50px auto 0px auto;
  }
  .PartCompWrap {
    flex-basis: 35%;
  }
  .PartCompWrap:nth-child(odd){
    margin-right: 24px;
  }
  .PartCompWrap:nth-child(even){
    margin-left: 0px;
  }
}

@media (max-width:480px){
  .HomePageBg{
    padding-top: 150px;
    margin-top: -50px;
  }
  
  .heroContentWrap h1{
    font-size: 38px;
    letter-spacing: 5px;
  }
  .secHeadingCon h1{
    font-size: 28px;
    letter-spacing: 7px;
  }
  /* Feature Section */
  .contentBody {
    padding: 16px 12px;
    margin: 0px auto 0px auto;
  }
  .featureContentWrap{
    padding: 0px 12px;
  }
  .ContentWrap{
    padding: 0px;
    margin-top: 50px;
  }
  /* Roadmap Section */
  .roadmapCon{
    margin: 50px auto 50px auto;
  }
  .BgImg{
    display: none;
  }
  .BgWrap{
    background: url(../static/roadmap-bg.png);
    background-position: top;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding: 32px 16px;
    min-height: 250px;
  }
  .ContL .roadmapTxt{
    position: relative;
    top: 0%;
    left: 0%;
    width: 100%;
    max-width: 100%;
    transform: translate(0%, 0%);
    text-align: center;
    padding: 24px;
  }
  .partCompGrid{
    max-width: 1330px;
    margin: 70px auto 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.PartCompWrap{
    max-width: 250px;
}
}
@media (max-width:680px){
  .FooterAreaContain{
    height: 70vh;
    background-size: 150% 100%;
    background-position: top;
  }
}
@media (max-width:480px){
  .sliderRootContainer{
    display: none;
  }
}