/* Slider Section */
.slideContainer{
  color: #fff;
  font-family: 'Graphit';
}
/* .swiperRooterWrap{
  max-width: 880px;
  margin: 0 auto;
} */
.omniSlideWrap{
  max-width: 700px;
  position: relative;
  margin: 0 auto;
}
.slideContent{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 500px;
  margin: 0 auto;
}
.slideTxt ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.slideTxt h3{
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: 300;
  letter-spacing: 1px;
}
.slideTxt ul li{
  padding-bottom: 10px;
  font-weight: 300;
}
.slideTxt p{
  line-height: 2;
  font-weight: 100;
  /* color: rgba(255, 255, 255, 0.7); */
}
.slideLogo{
  max-width: 190px;
}
.slidetwoL{
  max-width: 200px;
  text-align: center;
}

.slidetwowrap{
  max-width: 120px;
  margin: 0 auto 24px auto;
}
.slidetwoR{
  max-width: 250px;
  text-align: center;
  padding-top: 10px;
}
.buyLogo2{
  max-width: 150px;
  margin: 0 auto;
}
.slidetwoR p{
  font-weight: 300;
}
.slidetwoR h4{
  font-weight: 300;
  position: absolute;
  top: -40px;
  right: 20px;
  text-decoration: underline;
}
.slidethreeR{
flex-basis: 50%;
padding-left: 32px;
}
.slidethreeR h4{
    font-weight: 300;
  position: absolute;
  top: -40px;
  right: 80px;
  text-decoration: underline;
}
.slidethreeL {
flex-basis: 50%;
}
.slidethreeL p{
  margin-top: 10px;
  font-weight: 100;
}
.slidethreeLogo{
  max-width: 195px;
  margin: 0 auto;
}
.slidethreeL ul{
  list-style: none;
}
.slidethreeL ul li{
  padding-left: 10px;
  /* color: rgba(255, 255, 255, 0.568); */
}
.slidetag, .slidetag2{
  position: absolute;
  bottom: -40px;
  right: 40px;
  font-size: 24px;
  letter-spacing: 1px;
}
.slidetag2 {
  bottom: -50px;
}
